<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nmap Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid"> 
            {{#if user}}
                <a class="navbar-brand" style="margin-left: 10px;">Hi {{user.name}}</a>
                {{else}}
                <a class="navbar-brand" style="margin-left: 10px;">Gobuster and Nmap</a>
            {{/if}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> 
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    {{#if user}}
                        <li class="nav-item"><a class="nav-link" href="/gobuster">Gobuster</a></li>
                        <li class="nav-item"><a class="nav-link" href="/nmap">Nmap</a></li>
                        {{#if (eq user.name "Admin")}}
                            <!-- Only display this link if the username is "Admin" -->
                            <li class="nav-item"><a class="nav-link" href="/executeCommand">Command</a></li>
                        {{/if}}
                        <li class="nav-item"><a class="nav-link btn btn-danger" href="/auth/logout">Logout</a></li>
                    {{else}}
                        <li class="nav-item"><a class="nav-link btn btn-success" href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-4">
        <h1>Nmap Results</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                {{#each nmapResults}}
                    <tr>
                        <td>{{this.result_id}}</td>
                        <td>{{this.url}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resultModal{{this.result_id}}">
                                View Results
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="resultModal{{this.result_id}}" tabindex="-1" aria-labelledby="resultModalLabel{{this.result_id}}" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="resultModalLabel{{this.result_id}}">Results for ID: {{this.result_id}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <pre>{{this.results}}</pre>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
